.bg-gradient {
  background-image: linear-gradient(to right, #dff1fe, #c9e5fd, #dff1fe);
}

.bg-header-gradient {
  background-image: linear-gradient(to bottom, #dff1fe, #dff1fe, #fff);
}

.icon-box {
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 4px;
}

.bg-blue {
  background-color: #b9d9f3;
}

.bg-light-blue {
  background-color: #dff1fe;
}

.color-blue {
  color: #1c98ff;
}

.w-80p {
  width: 100px;
}

.br-12 {
  border-radius: 12px;
}

.round-110p {
  width: 85px;
  height: 85px;
  border-radius: 100px;
}

.mt-n6 {
  margin-top: -57px;
}

.br-8 {
  border-radius: 8px;
}

.h-80p {
  height: 80px;
}

.f-20 {
  font-size: 20px;
}

.footer-basic {
  padding: 35px 0;
  color: #4b4c4d;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

